In [11]:
import pandas as pd
import datetime as dt
from dateutil.relativedelta import relativedelta
import numpy as np

In [6]:
btc_raw_df = pd.read_parquet("/home/giujorge/Documents/Projets/bot_strategies/data/raw/BTC-USDT.csv.parquet.gzip")
btc_raw_df

,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
timestamp,,,,,,,,,,,
2017-08-17 04:00:00,4261.48,4261.48,4261.48,4261.48,1.77518300,1502942459999,7564.90685084,3,0.07518300,320.39085084,7960.54017996
2017-08-17 04:01:00,4261.48,4261.48,4261.48,4261.48,0.00000000,1502942519999,0.00000000,0,0.00000000,0.00000000,7960.45262989
2017-08-17 04:02:00,4280.56,4280.56,4280.56,4280.56,0.26107400,1502942579999,1117.54292144,2,0.26107400,1117.54292144,7960.37529526
2017-08-17 04:03:00,4261.48,4261.48,4261.48,4261.48,0.01200800,1502942639999,51.17185184,3,0.01200800,51.17185184,7960.37529526
2017-08-17 04:04:00,4261.48,4261.48,4261.48,4261.48,0.14079600,1502942699999,599.99933808,1,0.14079600,599.99933808,7960.37529526
...,...,...,...,...,...,...,...,...,...,...,...
2022-04-18 14:09:00,39423.05,39423.06,39377.05,39385.62,22.37338000,1650290999999,881512.83100580,758,6.59638000,259885.09290650,0
2022-04-18 14:10:00,39385.61,39401.54,39370.24,39400.00,29.43069000,1650291059999,1159033.25545720,788,14.55146000,573044.31840130,0
2022-04-18 14:11:00,39400.00,39444.80,39399.83,39442.55,25.65637000,1650291119999,1011437.53518520,720,13.72377000,541044.94403500,0
2022-04-18 14:12:00,39442.54,39480.00,39442.54,39457.97,52.81157000,1650291179999,2083959.36255510,1078,27.12047000,1070107.40522660,0
2022-04-18 14:13:00,39457.97,39471.62,39445.69,39459.51,29.69538000,1650291239999,1171821.14962570,677,15.76859000,622209.60506560,0

# Calculate montly returns by cumulating minutes returns

In [10]:
 df = btc_raw_df[['close']].pct_change().resample('M').agg(lambda x:(x+1).prod() -1).copy()
 df.head()

               close
timestamp
2017-08-31  0.108744
2017-09-30 -0.073310
2017-10-31  0.476073
2017-11-30  0.522352
2017-12-31  0.394086

# Calculate returns over the past 11 months

In [13]:
pass_11 = (df +1).rolling(11).apply(np.prod)-1
pass_11.head(20)

               close
timestamp
2017-08-31       NaN
2017-09-30       NaN
2017-10-31       NaN
2017-11-30       NaN
2017-12-31       NaN
2018-01-31       NaN
2018-02-28       NaN
2018-03-31       NaN
2018-04-30       NaN
2018-05-31       NaN
2018-06-30  0.499495
2018-07-31  0.636214
2018-08-31  0.601278
2018-09-30  0.025309
2018-10-31 -0.352378
2018-11-30 -0.705365
2018-12-31 -0.639974
2019-01-31 -0.667456
2019-02-28 -0.449200
2019-03-31 -0.556138

In [14]:
pass_11.tail(20)

               close
timestamp
2020-09-30  0.178948
2020-10-31  0.828587
2020-11-30  1.737351
2020-12-31  2.092481
2021-01-31  2.882508
2021-02-28  6.040961
2021-03-31  5.814449
2021-04-30  5.106332
2021-05-31  3.076556
2021-06-30  2.091626
2021-07-31  2.559105
2021-08-31  3.370667
2021-09-30  2.177732
2021-10-31  2.112317
2021-11-30  0.968998
2021-12-31  0.396578
2022-01-31 -0.147749
2022-02-28 -0.265244
2022-03-31 -0.211181
2022-04-30  0.059207

In [16]:
formation = dt.datetime(2022, 3, 31)
formation

datetime.datetime(2022, 3, 31, 0, 0)

In [17]:
end_mesurement  = formation - relativedelta(months=1)
end_mesurement

datetime.datetime(2022, 2, 28, 0, 0)

In [21]:
ret_12 = pass_11.loc[end_mesurement]
ret_12.reset_index()

   index  2022-02-28 00:00:00
0  close            -0.265244

In [ ]:
# besoin de comparer plus de

In [ ]:
# Add a column containing the quitiles

In [23]:
ret_12['quintile'] = pd.qcut(ret_12.iloc[:,1], 5, labels=False)

IndexingError: Too many indexers

In [ ]:
# Get winers and losers return by finding the last months return of winner /loser symbols

In [ ]:
winners = ret_12[ret_12.quantile == 4]
winners

In [ ]:
losers = ret_12[ret_12.quantile == 0]
losers

In [ ]:
winnersret = df.loc[formation + relativedelta(months=1), df.columns.isin(winners.Symbols)]
winnersret

In [ ]:
losersret = df.loc[formation + relativedelta(months=1), df.columns.isin(losers.Symbols)]
losersret

In [ ]:
# Calculate profit of mumentum strategy

In [ ]:
momentumprofit = winnersret.mean() - losersret.mean()

momentumprofit

In [ ]:
# Calculete profit  benchmark

In [24]:
df

               close
timestamp
2017-08-31  0.108744
2017-09-30 -0.073310
2017-10-31  0.476073
2017-11-30  0.522352
2017-12-31  0.394086
2018-01-31 -0.250158
2018-02-28  0.004051
2018-03-31 -0.329518
2018-04-30  0.335374
2018-05-31 -0.190461
2018-06-30 -0.146284
2018-07-31  0.209835
2018-08-31 -0.093096
2018-09-30 -0.054861
2018-10-31 -0.038427
2018-11-30 -0.365762
2018-12-31 -0.083740
2019-01-31 -0.072592
2019-02-28  0.110536
2019-03-31  0.076110
2019-04-30  0.296509
2019-05-31  0.607838
2019-06-30  0.268743
2019-07-31 -0.071270
2019-08-31 -0.048912
2019-09-30 -0.135399
2019-10-31  0.102723
2019-11-30 -0.174925
2019-12-31 -0.045965
2020-01-31  0.299874
2020-02-29 -0.088666
2020-03-31 -0.247920
2020-04-30  0.344681
2020-05-31  0.096087
2020-06-30 -0.032781
2020-07-31  0.240400
2020-08-31  0.027705
2020-09-30 -0.074932
2020-10-31  0.279718
2020-11-30  0.428168
2020-12-31  0.468512
2021-01-31  0.144150
2021-02-28  0.363904
2021-03-31  0.301422
2021-04-30 -0.017812
2021-05-31 -0.354289
2021-06-30 -0.059291
2021-07-31  0.183103
2021-08-31  0.136006
2021-09-30 -0.069570
2021-10-31  0.398769
2021-11-30 -0.070950
2021-12-31 -0.188473
2022-01-31 -0.167688
2022-02-28  0.122004
2022-03-31  0.054456
2022-04-30 -0.132955

In [ ]:
if -0.132955 < momentumprofit --> good

In [25]:
## Pour améliorer faire decile: https://www.youtube.com/watch?v=5W_Lpz1ZuTI&list=WL&index=98

SyntaxError: invalid syntax (1744959484.py, line 1)

In [ ]:
def momentum(fomration) :
    end_mesurement = formation - monthEnd(1)
    voir 27:23